/*--------------TOP HEADER--------------*/

// for header and footer elements

.padded-lr {
	padding: 10px 16px 10px 16px;
}

// mobile
@media only screen {
	#header {
		background-color: $darkest-grape;

		.topbar {
			border-top-color: $white;
			border-bottom-color: transparent;
		}
		
		
		#nav-primary {
			ul {	
				li {
					a {
						color: $white;
					}
		
					a:hover {
						color: $white;
					}
				}
				li.active a {
					color: $white;
				}
			}
		}
	}

	#logo {
	top: 15px;
	position: relative;
	color: $white;
	}	
}

/*--------------SECTIONS--------------*/

#bgpurple {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: $darkest-grape;
	z-index: -1
}

#bggrey {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: rgba($warm-grey-10, 0.35);
	z-index: -1
}

#bgdarkgrey {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: $warm-grey-10;
	z-index: -1	
}

#content {
	padding-top: 90px;
}

#home {
	padding-top: 80px;
}

#admin {
	padding-top: 70px;
}

// for desktop
@media (min-width: 960px) {

	#content {
		padding-top: 130px;
	}

	#home {
		padding-top: 150px;
	}
}


/*--------------GENERAL ELEMENTS--------------*/

.card {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: $white;
	padding: 20px;
}

.card:hover {
	background-color: rgba($white, 0.6);
}

.center {
	text-align: center;
}

.tagcontainer {
	li {
		display: inline;
	}
}

/*--------------HOME--------------*/

#home {    
	.question {
		color: $white;
		margin: 50px 0 40px 0;
	}

/*home tags*/

	.tagcontainer {
		margin: 5px 0 200px 0;
	}

	.tag {
		color: $darkest-grape;
		font-size: 1em;
		background-color: $white;
		padding: 10px 30px 10px 30px;
		margin: 8px 4px 8px 4px;
		border-radius: 50px;
		display: inline-block;
		cursor: pointer;
	}

	.tag:hover {
		color: $white;
	 	background-color: $warm-grey-40
	}

}    /*END HOME ONLY*/


/*--------------HOME POPUP--------------*/
.portBox-overlay {  
	height: 100%;
	width: 100%;
	background: $darkest-grape;
	opacity: 0.8;
	filter: alpha(opacity=80);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
}

.portBox {
	position: absolute;
	display:none;
	background: #ffffff;
	z-index: 1001;
	padding: 0 30px 0 30px;
	text-align:left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	min-width:200px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}

.categorydetails {
	text-align: center;
	padding: 30px 0 30px 0;
}

.iconlrg {
	width: 60px;
	padding-bottom: 14px;
}


/*--------------RESULT--------------*/

.tagcontainer {
	margin: 5px 0 10px 0;
}

.viztop {
	padding-top: 20px;
}

.icon {
	left: 15px;
	display: inline-block;
	width: 30px;
	position: relative;
}

.right {
	text-align: right;
}

.btn {
	border: solid 2px $dark-grape;
	color: $dark-grape;
	font-weight: 500;
	padding: 10px 10px 10px 10px;
	margin: 20px auto;
	border-radius: 50px;
	display: inline-block;
	width: 70%;
	cursor: pointer;
	text-align: center;
}

.btn:hover {
	background-color: $darkest-grape;
	color: $white;
}

.btn.half {
	width: 35%;
}

.tag {
	font-size: .8em;
	color: $white;
	background-color: $warm-grey-40;
	padding: 5px 10px 5px 10px;
	margin: 4px 0 4px 0;
	border-radius: 50px;
	display: inline-block;
}

.tag:hover {
	color: $white;
  	background-color: $warm-grey-60;
}

.selected {
	background-color: $dark-grape;
}

.selected:hover {
	background-color: $darkest-grape;
}

.disabled {
	background-color: $warm-grey-20;
}

.disabled:hover {
	background-color: $warm-grey-20;
}

.flags {
	display: block;

	li {
		display: block;
	}
}

.checkbox {
	display: none;
}

.checkbox + label {
	background-color: $warm-grey-20;
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.checkbox + label:active, .checkbox:checked + label:active {
}

.checkbox:checked + label {
	background-color: $dark-grape;
}

.checkbox:checked + label:after {
	content: '\2713';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: $white;
}

.resultdata {
	padding-top: 0;
}


// for desktop
@media (min-device-width: 768px) {
	.btn {
		padding:10px 20px 10px 20px;
	}

	.tagcontainer {
		margin: 5px 0 60px 0;
	}

	.btn.half {
	width: 40%;
	margin: 5px;
	}
}
/*--------------RESULTS - HAMBURGER MENU--------------*/

@import "compass/css3";

// for mobile
@media only screen and (min-device-width: 320px) {
	.menu {
		text-align:left;
		width:100%;
		background-color: $darkest-grape;
		margin: 0px;  
		display: none;

		height: 90vh; // 90% of viewport height. imperfect but works on iPhones
		overflow-y: scroll;

	    &>li {
			a {
				display:block;
			}
	    }

    	ul {
			padding: 20px;
		}

		.otherfunctions {
			margin-left: 20px
		}

		.charttypes {
			margin-left: 20px;
		}

		.otherfunctionslist, .charttypeslist {
			display: none; // will be modified to `block` by jQuery .slideToggle() 
		}

		.charttypeslist {
			margin-bottom: 100px;
		}

	  	&>li {  
	    display: block;
	    color: $white;
		} 

		.tagcontainer {
			margin: 0;
		}

		.tag {
			background-color: #271035;
			font-size: 1em;
			padding: 10px 30px 10px 30px;
			margin: 4px 0px;
			border-radius: 50px;
			display: inline-block;
		}

		.selected {
			background-color: $white;
			color: $darkest-grape;
		}

		.disabled {
			color: $dark-grape;
			background-color: #271035;
		}

		.downchevron {
			width: 16px;
			float: right;
			left: -40px;
			top: -25px;
			position: relative;
		}

		.checkbox {
			display: none;
		}

		.checkbox + label {
			background-color: #271035;
			padding: 9px;
			border-radius: 3px;
			display: inline-block;
			position: relative;
			margin-right: 10px;
		}

		.checkbox + label:active, .checkbox:checked + label:active {
		}

		.checkbox:checked + label {
			background-color: $white;
		}

		.checkbox:checked + label:after {
			content: '\2713';
			font-size: 16px;
			position: absolute;
			left: 0px;
			color: $dark-grape;
		}
 	 } 	 /*end menu only*/

	.burger {
	    width: 70px;
	    height: 80px;
	    display: block;
	    background: transparent;
	    @include transition(all .6s ease-in-out);
	    
	    // Remove the below styles - only used to center anchor on page
	    position: absolute;
	    top: 5px;
	    right: -25px;
	    @include translate(-50%, 0);
	    // Remove above //

	    i {
	    	display: block;
	   		width: 20px;
	  		height: 2px;
	  	 	background: $white;
	 	  	position: absolute;
	   		top: 50%;
	    	left: 50%;
		    @include translate(-50%, -50%);
	    	@include transition(all .2s ease-in-out);     

	    	&:before,
	    	&:after {
		        content: '';
		        position: absolute;
		        height: 2px;
		        background: $white;
		        width: 20px;
		        top: 50%;
		        left: 50%;
		        @include translate(-50%, -50%);
		        @include transition(all .2s ease-in-out);
		    }

			&:before {  
				margin-top: -8px;
			}

			&:after {
				margin-top: 8px;
			}
		}

		&.active {
			i {
				background: transparent;
				&:before,
				&:after {
					left: -2px;
					width: 20px;
				}

				&:before {
					@include rotate(45deg);
					top: 8px;
				}

				&:after {
					@include rotate(-45deg);
					top: -8px;
				}
			}
		}
	}

	.icon {
		top: -5px;
		left: 10px;
		width: 20px;
	}

	.viztop {
		padding-top: 70px;
	}

	.sidenav {
		display: none;
	}
}

// for desktop
@media (min-device-width: 768px) {
	.resultdata {
		display: none;
	}

	.sidenav {
		display: inline;
	}

	.burger{
		display: none;
	}

	.clearfix:after {
		content: " ";
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

/*--------------ADMIN ONLY--------------*/

#admin {    
	.card {
		background-color: $white;
		border-radius: 10px;
		padding: 30px;
	}

	.card {
		li {
			display: block;
		}
	}

	.tagcontainer {
		margin-bottom: 10px;
		width:100%;
	}

	.bleed {
		background-color: $white;
	}

	.right {
		text-align: right;
	}

}    /*END ADMIN ONLY*/

.admindetail {
	padding: 50px 0 10px;
}

.segmented {
	display: flex;
	flex-flow: row wrap;
	box-sizing: border-box;
	text-align: center;
	margin-top: 10px;
}

.segmented label {
	display: block;
	flex: 1;
	box-sizing: border-box;
	border: 1px solid $darkest-grape;
	border-right: none;
	color: $darkest-grape;
	margin: 0;
	padding: 10px 30px 10px 30px;
	user-select: none;
	-webkit-user-select: none;
}

.segmented label.checked {
	background: $darkest-grape;
	color: $white;
}

.segmented.inverted label {
	border-color: $white;
	color: $white;
	background: none;
}

.segmented.inverted label.checked {
	background: $white;
	color: inherit;
}

.segmented label:first-child {
	border-radius: 50px 0 0 50px;
}

.segmented label:last-child {
	border-radius: 0 50px 50px 0;
}

.segmented input[type="radio"] {
	opacity: 0;
	-webkit-appearance: none;
	margin: 0;
	position: absolute;
}

.segmented .checked a {
	color: $white;
}


@media only screen and (min-device-width: 320px) {
// on mobile, everything scales to a single scrolling column

	.subnav.flex.container {
		.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
			width: 50%;
		}

	}
}


// for desktop
@media (min-width: 960px) {

	#admin {   
		.tagcontainer {
			margin-bottom: 40px;
		}
	}

	.segmented {
		margin-top: 30px;
	}

	.leftmargin {
		margin-right: 0px;
	}

	.admindetail {
	padding: 50px 0 60px;
	}

}

/*--------------FOOTER--------------*/

// mobile, tablet, and desktop
@media only screen {

	#footer {
		background-color: $white;

		.flex.container {
			border-top-color: transparent;
		}
		
		h3, h4, p {
			color: $warm-grey-90;
		}
			a {
			color: $turquoise;
		}
		a:hover {
			color: $dark-turquoise;
		}
	}
}
