// basic typography


img + h1, img + h2, img + h3, img + h4, img + h5, img + p {
	margin: 0;
	padding: 20px 0 20px 0;
	color: $warm-grey-90;
}

h1, h2, h3, h5, p {
	margin: 0;
	padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 1.2em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-style: normal;
}

h4 {
	margin-top: 20px;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 10px;
}

h6 {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: 300;
	margin: 0;
}


ul, li {
	list-style-type: none;
	padding: 0;
}

li {
	margin: 15px auto;
	display: block;
}

p {
	font-size: 1em;
	line-height: 1.2em;
	font-weight: 300;
	margin-bottom: 20px;
}

a {
	text-decoration: none;
	color: $warm-grey-80;
}

h1, h2, h3, h4, h5, p {
	margin-top: 0;
}


// for desktop
@media only screen and (min-width: 960px) {
	h1 {
		font-size: 1.3em;
		line-height: 1.05em;
	}

	h2 {
		font-size: 2.25em;
		line-height: 1.25em;
	}

	h3 {
		font-size: 1.125em;
		line-height: 1.11em;
	}

	h4 {
		font-size: .9em;
		line-height: 1.2em;
	}

}