/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "framework";
@import "_site-typography";
@import "_site-base";
@import "_site-packery";
@import "_site-carousel";
//@import "_site-form";

#admin {
	margin-top: 30px;
}

#content {
	margin-top: 30px;
}
/*TYPOGRAPHY*/


.center {
	text-align: center;
}

.description {
	margin: 30px 0 10px;
}

a:hover {
	color: $grape;
}

p {
	font-size: 1.3em;
	line-height: 1.6em;
	font-weight: 300;
}

h6 {
	font-size: 1em;
	line-height: 1.4em;
	font-weight: 300;
	margin: 0;

}

/*LAYOUT*/

#logo {
	padding-top: 10px;
}

#header{
	.topbar {
		border-top-color: $darkest-grape;
		border-bottom-color: transparent;
	}
}

#home{    /*HOMEPAGE ONLY*/
	background-color: $darkest-grape;

#header {
	background-color: $darkest-grape;

#nav-primary {
	ul {
		li {
		  a {
			  color: $white;
				}
		}
	}
}

.topbar {
	border-top-color: $white;
	border-bottom-color: transparent;
}

a {
	color: $white;
}
}

.question {
	color: $white;
	margin-top: 15vh;
}

/*TAGS*/

.tagcontainer {
	margin: 40px 0 200px 0;
}

.tag{
	color: $darkest-grape;
	background-color: $white;
	padding:10px 30px 10px 30px;
	margin: 8px 4px 8px 4px;
	border-radius: 50px;
	display: inline-block;
}

.tag:hover {
	color: $white;
  background-color: $warm-grey-40
}
}    /*END HOMEPAGE ONLY*/


#admin{    /*ADMIN ONLY*/
	background-color: $warm-grey-10;

#header {
	background-color: $warm-grey-80;


#nav-primary {
	ul {
		li {
		  a {
			  color: $white;
				}
		}
	}
}

.topbar {
	border-top-color: $white;
	border-bottom-color: transparent;
}

a {
	color: $white;
}
}

.card {
	background-color: $white;
	border-radius: 10px;
	padding: 30px;

}

/*TAGS*/

.tagcontainer {
	margin: 60px 0 200px 0;
}

.tag{
	color: $darkest-grape;
	background-color: $white;
	padding:10px 30px 10px 30px;
	margin: 8px 4px 8px 4px;
	border-radius: 50px;
	display: inline-block;
}

.tag:hover {
	color: $white;
  background-color: $warm-grey-40;
}
}    /*END ADMIN ONLY*/

.card {
	background: rgba($warm-grey-10, 0.6);
	border-radius: 10px;
	opacity: 50%;
}

.cardsm {
	background-color: $white;
	border-radius: 10px;
	padding: 30px;
	margin-top: 30px;
}

.text{
	background-color: $warm-grey-10; 
	padding: 30px;
}

.tagcontainer {
	margin: 5px 0 60px 0;
}

.tagsm {
	font-size: .75em;
	color: $white;
	background-color: $warm-grey-40;
	padding:5px 10px 5px 10px;
	margin: 4px 0 4px 0;
	border-radius: 50px;
	display: inline-block;
}

.tagsm:hover {
	color: $white;
  background-color: $warm-grey-60;
}

.viztop {
	padding-top: 60px;
}

.icon {
	top: -5px;
	left: 5px;
	display: inline-block;
	width: 18px;
	position: relative;
}

.arrows {
	top: 0px;
	display: inline-block;
	width: 42px;
	position: relative;
}

.right {
	text-align: right;
}


.btn {
	color: $white;
	background-color: $dark-grape;
	padding:10px 30px 10px 30px;
	margin-bottom: 30px;
	border-radius: 50px;
	display: inline-block;
	width: 200px;

}

.btnmain {
	color: $white;
	background-color: $turquoise;
	padding:10px 30px 10px 30px;
	margin: 15px;
	border-radius: 50px;
	width: 200px;
	display: inline-block;
}

.space {
	margin-right: 20px;
}

.checkbox {
	height: 15px;
	width: 15px;
	border-radius: 4px;
	background-color: $warm-grey-10;
	display: inline-block;
	margin-right: 10px;
}


.btn:hover {
	background-color: $darkest-grape;
	color: $white;
}

.tagsmselected {
	background-color: $dark-grape;
}

.tagsmselected:hover {
	background-color: $darkest-grape;
}

.savebar {
	height: 60px;
	background-color: $white;
	margin-top: -20px;
}

/* Radio group */
.segmented {
    display:flex;
    flex-flow:row wrap;
    box-sizing:border-box;
    text-align:center;
}
.segmented label {
    display:block;
    flex:1;
    box-sizing:border-box;
    border:1px solid $darkest-grape;
    border-right:none;
    color:$darkest-grape;
    margin:0;
    padding:.4em;
    user-select:none;
    -webkit-user-select:none;
}
.segmented label.checked {
    background:$darkest-grape;
    color:#fff;
}
.segmented.inverted label {
    border-color:#fff;
    color:#fff;
    background:none;
}
.segmented.inverted label.checked {
    background:#fff;
    color:inherit;
}
.segmented label:first-child {
    border-radius:.4em 0 0 .4em;
    border-right:0;
}
.segmented label:last-child {
    border-radius:0 .4em .4em 0;
}
.segmented input[type="radio"] {
    appearance:none;
    -webkit-appearance:none;
    margin:0;
    position: absolute;
}


/*OVERLAY*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(62, 7, 75, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.iconlrg {
	width: 60px;
	padding-bottom: 14px;
}

.popup {
  margin: 30vh auto;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
  width: 45%;
  color: #000000;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
