<% wrap_layout :site_layout do %>
<header>
	<nav id="header">
		<div class="flexcontainer topbar">
			<div class="col-12">
				<div class="padded-lr">
					<a href="index.html"><h1 id="logo">Data @ The Artificial</h1></a>

                <a href="#" class="burger">
                    <i></i>
                </a>
				</div>
			</div>
		</div>
          <ul class="menu">
            <li>
                <div class="checkbox"></div>Multiple data sets<br>
                <br>
                <div class="checkbox"></div>Compare to average<br>
            </li>
            <li><a href="#">Functions</a>
                <div class="menutags">
                    <a class="tag" href="">Proportions</a>
                    <a class="tag selected" href="">Aggregations</a> 
                    <a class="tag" href="">Range</a>
                    <a class="tag" href="">Cycles</a> 
                    <a class="tag" href="">Hierarchy</a> 
                    <a class="tag" href="">Continuous intervals</a> 
                    <a class="tag disabled">Flow</a> 
                    <a class="tag disabled">Deviation from normal</a> 
                    <a class="tag" href="">Location</a> 
                    <a class="tag" href="">Pattern</a> 
                    <a class="tag" href="">Change over time</a>
                </div>
            </li>
            <li><a href="#">Chart type</a>
            </li>
        </ul>
	</nav>
</header>


<script type="text/javascript">
$(".burger").click(function() {
    $(this).toggleClass('active');
    $("ul.menu li").slideToggle('fast');
})

$(window).resize(function() {
    if ($(window).width() > 960) {
        $('ul.menu li').removeAttr('style');
    }
})
</script>

<%= yield %>
<% end %>
