<% wrap_layout :site_layout do %>
<header>
	<nav id="header">
		<div class="flex container topbar">
			<div class="col-12">
				<div class="padded-lr">
					<a href="index.html">
                        <h1 id="logo">Data @ The Artificial</h1>
                    </a>
                    <a href="#" class="burger">
                        <i></i>
                    </a>
				</div>
			</div>
		</div>
        <ul class="menu">
            <li>
                <ul class="flags">
                    <li>
                        <input type="checkbox" id="checkbox-1-1" class="checkbox"><label for="checkbox-1-1"></label> Multiple data sets
                    </li>
                    <li>
                        <input type="checkbox" id="checkbox-1-2" class="checkbox"><label for="checkbox-1-2"></label> Compare to average
                    </li>
                </ul>
            </li>
            <li>
               <div class="tagcontainer">
                    <h4 class="otherfunctions">Other functions</h4>
                    <ul class="otherfunctionslist">
                        <li>
                            <a class="tag" href="">Proportions</a>
                        </li>
                        <li>
                            <a class="tag selected" href="">Aggregations</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Range</a>
                        </li>
                        <li>
                            <a class="tag" href="">Cycles</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Hierarchy</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Continuous intervals</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Flow</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Deviation from normal</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Location</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Pattern</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Change over time</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
               <div class="tagcontainer">
                    <h4 class="charttypes">Chart types</h4>
                    <ul class="charttypeslist">
                        <li>
                            <a class="tag" href="">Bar charts</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Histograms</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Range charts</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Line charts</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Area charts</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Scatter plots</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Radial charts</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Composition</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Calendars</a> 
                        </li>
                        <li>
                            <a class="tag" href="">Geographical maps</a> 
                        </li>
                        <li>
                            <a class="tag disabled">Networks</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
	</nav>
</header>


<script type="text/javascript">
$(".burger").click(function() {
    $(this).toggleClass('active');
    $("ul.menu").slideToggle('fast');
})

$(window).resize(function() {
    if ($(window).width() > 960) {
        $('ul.menu').removeAttr('style');
    }
})

$(".otherfunctions").click(function() {
    $(this).toggleClass('active');
    $("ul.otherfunctionslist").slideToggle('fast');
})

$(".charttypes").click(function() {
    $(this).toggleClass('active');
    $("ul.charttypeslist").slideToggle('fast');
})
</script>

<%= yield %>
<% end %>
