<% wrap_layout :site_layout do %>

	<nav id="header">
		<div class="flexcontainer topbar">
			<div id="logo" class="col-6">
				<div class="padded-lr">
					<a href="index.html"><h3>Data @ The Artificial</h3></a>
				</div>
			</div>
			<div id="nav-primary" class="col-6">
				<div class="padded-lr">
					<ul>
						<li><a href="admin.html">ADMIN</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<div id="underheader"></div>

<%= yield %>
<% end %>
