<% wrap_layout :site_layout do %>

<header>
	<nav id="header">
		<div class="flex container topbar">
			<div class="col-12">
				<div class="padded-lr">
					<a href="index.html"><h1 id="logo">Data @ The Artificial</h1></a>
				</div>
			</div>
		</div>
	</nav>
</header>

	
	<%= yield %>
	
<% end %>

