<% wrap_layout :site_layout do %>

	<nav id="header">
		<div class="flexcontainer topbar">
			<div id="logo" class="col-6">
				<div class="padded-lr">
					<a href="index.html"><h1>Data @ The Artificial</h1></a>
				</div>
			</div>
			<div id="nav-primary" class="col-6">
				<div class="padded-lr">
					<ul>
						<li><a href="admin.html">ADMIN</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>

	<section id="header-side">
		<div class="flexcontainer">
			<div class="col-1 left-8">
				<nav id="nav-primary">
					<div class="col-4">
				<div class="padded">
					<h4>My primary function</h4>
					<div id="tagcontainer">
						<h2>Range <a href="index.html"><img class="icon" src="images/temp_close.png"></a></h2>
						<div>
							<div class="tagcontainer">
								<div class="checkbox"></div>Multiple categories<br>
								<br>
								<div class="checkbox"></div>Compare to average
							</div>
							<h4>Other functions</h4>
							<div class="tagcontainer">
								<a class="tag" href="">Hierarchy</a> 
								<a class="tag selected" href="">Range</a>
								<a class="tag" href="">Cycles</a> 
								<a class="tag" href="">Flow</a> 
								<a class="tag" href="">Continuous intervals</a> 
								<a class="tag" href="">Aggregations</a> 
								<a class="tag disabled" href="">Deviation from normal</a> 
								<a class="tag" href="">Proportions</a> 
								<a class="tag" href="">Pattern</a> 
								<a class="tag disabled" href="">Location</a> 
								<a class="tag" href="">Change over time</a>
							</div>
							<h4>Chart type</h4>
							<div class="tagcontainer">
								<a class="tag" href="changeovertime.html">Bar charts</a> 
								<a class="tag" href="">Histograms</a> 
								<a class="tag" href="">Range charts</a> 
								<a class="tag disabled" href="">Line charts</a> 
								<a class="tag" href="">Area charts</a> 
								<a class="tag disabled" href="">Scatter plots</a> 
								<a class="tag disabled" href="">Radial charts</a> 
								<a class="tag disabled" href="">Composition</a> 
								<a class="tag" href="">Calendars</a> 
								<a class="tag disabled" href="">Geographical maps</a> 
								<a class="tag" href="">Networks</a>
							</div>
						</div>
					</div>
				</div>
			</div>
				</nav>
			</div>
		</div>
	</section>
	
	<%= yield %>
	
<% end %>

