---
layout: nomenu_layout
---

<section id="admin">
	<div class="savebar">
		<div class="container padded">
			<span>
				<a href="admin-charttype.html">&laquo; Exit to overview</a>
			
				<a href="admin-charttype.html" class="leftmargin">Save changes &raquo;</a>
			</span>
		</div>
	</div>
	<div class="flex container">
		<div class="col-6">
			<div class="padded tagcontainer">
				<h2>Bar charts with multiple data sets</h2>
				<ul>
					<li>
						<a class="tag" href="">Hierarchy</a> 
					</li>
					<li>
						<a class="tag" href="">Range</a>
					</li>
					<li> 
						<a class="tag" href="">Cycles</a>
					</li>
					<li> 
						<a class="tag" href="">Flow</a>
					</li>
					<li> 
						<a class="tag" href="">Continuous intervals</a>
					</li>
					<li> 
						<a class="tag" href="">Aggregations</a>
					</li>
					<li> 
						<a class="tag" href="">Deviation from normal</a>
					</li>
					<li> 
						<a class="tag" href="">Proportions</a>
					</li>
					<li> 
						<a class="tag selected" href="">Pattern</a>
					</li>
					<li> 
						<a class="tag" href="">Location</a>
					</li>
					<li> 
						<a class="tag" href="">Change over time</a>
					</li>
				</ul>
			</div>

			<div class="padded">
				<h4>Edit chart description</h4>
			</div>

			<h6 class="description card">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6>
		</div>

		<div class="col-4 left-2 viztop">
			<div class="padded card">
				<img src="/images/viz_bar.png">
				<a class="btn">Replace visualization</a>
			</div>
		</div>

		<div class="col-12 tagcontainer">
			<div class="padded">
				<h4>Alternative visualizations</h4>
			</div>
			<div class="packery">
				<div class="col-4 packed">
					<a href="waterfallchart.html">
						<div class="card">
							<img src="images/viz_histogram.png">
							<div class="padded">
								<h3>Histogram</h3>
							</div>
							<div class="center">
							<a class="btn">Remove visualization</a>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4 packed">
					<a href="range.html">
						<div class="card">
							<img src="images/viz_histogram_1.png">
							<div class="padded">
								<h3>Bar chart with multiple data sets</h3>
							</div>
							<div class="center">
							<a class="btn">Remove visualization</a>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4 packed">
					<a href="range.html">
						<div class="card">
							<img src="images/viz_histogram_2.png">
							<div class="padded">
								<h3>Stacked bar chart with multiple data sets</h3>
							</div>
							<div class="center">
							<a class="btn">Remove visualization</a>
							</div>
						</div>
					</a>
				</div>
			</div><!--  END PACKERY -->
		</div><!--  END 8 COL -->
	</div><!--  END FLEX CONTAINER -->
</section>
