---
layout: nomenu_layout
---

<section id="admin">
	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<div class="segmented">
					<label>
						<input name="segmented" type="radio"><a href="admin-function.html">Sort by functions</a> 
					</label>
					<label class="checked">
						<input checked name="segmented" type="radio"><a href="admin-charttype.html">Sort by chart type</a>
					</label>
				</div>
			</div>
		</div>
		<div class="tagcontainer">
			<div class="col-12">
				<div class="card">
					<h2>Bar Charts (15 variations)</h2>
					<ul>
						<li>
							<a href="admin-chart-barchart.html"><strong>Basic bar chart</strong> • Last updated 25 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Bar chart comparing multiple data sets</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked bar chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent bar chart</strong> • Last updated 11 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent bar chart comparing multiple data sets</strong> • Last updated 13 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent stacked bar chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline bar chart</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline bar chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline indication bar chart</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline indication bar chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Horizontal bar chart</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Horizontal bar chart with multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Stacked horizontal bar chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart with multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<h2>Histograms (12 variations)</h2>
					<ul>
						<li>
							<a href=""><strong>Basic bar chart</strong> • Last updated 25 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Bar chart comparing multiple data sets</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked bar chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent bar chart</strong> • Last updated 11 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent bar chart comparing multiple data sets</strong> • Last updated 13 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent stacked bar chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline bar chart</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline bar chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline indication bar chart</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Baseline indication bar chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Horizontal bar chart</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Horizontal bar chart with multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Stacked horizontal bar chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart with multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function(){
	   $(".segmented label input[type=radio]").each(function(){
	       $(this).on("change", function(){
	           if($(this).is(":checked")){
	              $(this).parent().siblings().each(function(){
	                   $(this).removeClass("checked");
	               });
	               $(this).parent().addClass("checked");
	           }
	       });
	   });
	});
	</script>
</section>