---
layout: nomenu_layout
---

<section id="admin">
	<div class="bleed">
		<div class="flex container subnav">
			<div class="col-6">
				<div class="padded">
					<a href="admin-charttype.html">&laquo; Exit to overview</a>
				</div>
			</div>
			<div class="col-6">
				<div class="padded right">
					<a href="admin-charttype.html">Save changes &raquo;</a>
				</div>
			</div>
		</div>
	</div>

	<div class="admindetail">
		<div class="flex container">
			<div class="col-6">
				<div class="padded">
					<h2>Bar charts with multiple data sets</h2>
					<ul class="tagcontainer">
						<li>
							<a class="tag" href="">Hierarchy</a> 
						</li>
						<li>
							<a class="tag" href="">Range</a>
						</li>
						<li> 
							<a class="tag" href="">Cycles</a>
						</li>
						<li> 
							<a class="tag" href="">Flow</a>
						</li>
						<li> 
							<a class="tag" href="">Continuous intervals</a>
						</li>
						<li> 
							<a class="tag" href="">Aggregations</a>
						</li>
						<li> 
							<a class="tag" href="">Deviation from normal</a>
						</li>
						<li> 
							<a class="tag" href="">Proportions</a>
						</li>
						<li> 
							<a class="tag selected" href="">Pattern</a>
						</li>
						<li> 
							<a class="tag" href="">Location</a>
						</li>
						<li> 
							<a class="tag" href="">Change over time</a>
						</li>
					</ul>
				</div>

				<div class="padded">
					<h4>Edit chart description</h4>
				</div>
					<h6 class="card">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6>
			</div>

			<div class="col-4 left-2">
				<div class="card">
					<div class="padded">
						<img src="/images/viz_bar.png">
						<a class="btn">Replace visualization</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	