---
layout: multiple_layout
---

<body id="admin">
	<div class="savebar">
		<div class="flexcontainer padded">
			<div class="col-4 right-2">
				<a href="admin.html"><img class="icon arrows" src="images/temp_back.png">Exit to overview</a>
			</div>
			<div class="col-4 left-2 right">
				<a href="admin.html">Save changes<img class="icon arrows" src="images/temp_forward.png"></a>
			</div>
		</div>
	</div><!-- content -->
	<div class="flexcontainer">
		<div class="col-6">
			<div class="padded">
				<h2>Bar charts with multiple categories</h2>
				<a class="tagsm" href="">Hierarchy</a> 
				<a class="tagsm" href="">Range</a> 
				<a class="tagsm" href="">Cycles</a> 
				<a class="tagsm" href="">Flow</a> 
				<a class="tagsm" href="">Continuous intervals</a> 
				<a class="tagsm" href="">Aggregations</a> 
				<a class="tagsm" href="">Deviation from normal</a> 
				<a class="tagsm" href="">Proportions</a> 
				<a class="tagsm tagsmselected" href="">Pattern</a> 
				<a class="tagsm" href="">Location</a> 
				<a class="tagsm" href="">Change over time</a>
			</div>
			<div class="padded">
				<h4>Edit chart description</h4>
			</div>
			<h6 class="description card">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6><br>
		</div>
		<div class="col-4 left-2">
			<div class="padded cardsm center">
				<img src="/images/temp_bar.png"><br>
				<br>
				<a class="btn">Replace visualization</a>
			</div>
		</div>
		<div class="col-12">
			<div class="padded">
				<h4>Alternative visualizations</h4>
			</div>
			<div class="packery">
				<div class="col-4 packed">
					<div class="card">
						<img src="images/temp_bar2.png"><br>
						<br>
						<a href="">
						<h3>Histogram</h3></a>
						<h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</h6><br>
						<div class="center">
							<a class="btn">Remove visualization</a>
						</div>
					</div>
				</div>
				<div class="col-4 packed">
					<div class="card">
						<img src="images/temp_bar3.png"><br>
						<br>
						<a href="">
						<h3>Bar chart with multiple categories</h3></a>
						<h6>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy.</h6><br>
						<div class="center">
							<a class="btn">Remove visualization</a>
						</div>
					</div>
				</div>
				<div class="col-4 packed">
					<div class="card">
						<div class="padded center">
							<h1>+</h1><br>
							<h3>Add alternative visualization</h3>
						</div>
					</div>
				</div>
			</div><!--  END PACKERY -->
		</div><!--  END 8 COL -->
		<!-- RIGHT COLUMN -->
		<div class="col-4">
			<div class="padded"></div>
		</div>
	</div>
</body>


