---
layout: nomenu_layout
---

<div id="bgdarkgrey"></div>
<section id="admin">
	<div class="flex container">
		<div class="col-12">
			<div class="padded">
				<div class="segmented">
					<label class="checked">
						<input checked name="segmented" type="radio"><a href="admin-function.html">Sort by functions</a> 
					</label>
					<label>
						<input name="segmented" type="radio"><a href="admin-charttype.html">Sort by chart type</a>
					</label>
				</div>
			</div>
		</div>
		<div class="tagcontainer">
			<div class="col-12">
				<div class="card">
					<h2>Proportions (32 variations)</h2>
					<ul>
						<li>
							<a href=""><strong>Pie chart</strong> • Last updated 25 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Pyramid</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Square pie chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked bar chart</strong> • Last updated 11 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent stacked bar chart</strong> • Last updated 13 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked horizontal bar chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked histogram</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent stacked histogram</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Waterfall chart with multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Gantt chart comparing multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Span chart comparing multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Donut chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Area of a whole chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Smoothed area of a whole chart</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Monthly calendar</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Weekly calendar</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Monthly calendar with multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Weekly calendar with multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Daily calendar</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with pie charts per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Daily calendar with multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with square pie charts per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with pyramid charts per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with radial bar charts per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with radial bar charts with multiple data sets per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with donut charts per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with donut charts with multiple data sets per day</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Choropleth map</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Choropleth map with multiple data sets</strong> • Last updated 21 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Rectangular treemap</strong> • Last updated 21 December 2016</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-12">
				<div class="card">
					<h2>Aggregations (26 variations)</h2>
					<ul>
						<li>
							<a href=""><strong>Stacked bar chart</strong> • Last updated 25 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent stacked bar chart</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Radial bar chart with multiple data sets</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked horizontal bar chart</strong> • Last updated 11 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Divergent stacked histogram</strong> • Last updated 13 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stacked histogram</strong> • Last updated 24 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Aggregated area chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Waterfall chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Aggregated smoothed area chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Stepped area chart with multiple data sets</strong> • Last updated 05 January 2017</a>
						</li>
						<li>
							<a href=""><strong>Smoothed area of a whole chart</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Area of a whole chart</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Pyramid</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Pie chart</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with pie charts per day</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Square pie chart</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with square pie charts per day</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with pyramid charts per day</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with radial bar charts with multiple data sets per day</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Calendar with donut charts with mulitple data sets per day</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Choropleth map</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Choropleth map with multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Bubble map</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Bubble map with multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Density map</strong> • Last updated 05 December 2016</a>
						</li>
						<li>
							<a href=""><strong>Density map with multiple data sets</strong> • Last updated 05 December 2016</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
		<!-- END FUNCTIONS -->

	<script type="text/javascript">
	$(document).ready(function(){
	   $(".segmented label input[type=radio]").each(function(){
	       $(this).on("change", function(){
	           if($(this).is(":checked")){
	              $(this).parent().siblings().each(function(){
	                   $(this).removeClass("checked");
	               });
	               $(this).parent().addClass("checked");
	           }
	       });
	   });
	});
	</script>
</section>