---
layout: multiple_layout
---

<!-- page content -->
<section id="content">
		
	<!-- intro -->
	<div class="bleed" style="background-color: #35B199; padding: 100px 0 100px 0; color: white;">
		<div class="flexcontainer" style="padding-top: 40px;">
			<div class="col-8">
				<div class="padded">
					<h2>This is The Artificial Framework, a tool for laying out websites in a modular way. </h2>
				</div>
			</div>
			<div class="col-4">
				<div class="padded">
					<p>The Artificial Framework contains the basic elements of any Artificial web site. While every site should be unique and appropriate to its purpose, each should do so on top of the branded foundation this Framework provides.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- framework overview -->
	<div class="flexcontainer" style="padding-top: 60px;">
		<div class="col-12">
			<div class="padded">
				<h2>Basic scss with layers for cusomization.</h2>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>framework</h4>
				<p>The Artificial framework has three basic stylesheets, pulled in by framework.scss. These stylesheets, starting with the "artificial" prefix, specify the basic structure of the framework. These files should never be manipulated, and styles should be modified using .scss files with the "site" prefix.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>grid</h4>
				<p>The Artificial Framework makes use of a twelve-column grid with breaking points for mobile and tablet. On mobile, the grid is a single fluid column; on tablet a 720px grid of 60px columns; and on desktop a 960px grid of 80px columns.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>colors</h4>
				<p>The entire Artificial color palette is contained in artificial-colors.scss. Each base hue also has a pale, dark, and darkest value. There are nine specified gradations of both warm and cool grey.</p>
			</div>
		</div>
		<div class="col-3">
			<div class="padded">
				<h4>base</h4>
				<p>Base specifies the basics of an Artificial site's header, optional sub-header, and footer. Styles for artificial-base are contained in site-base, and should be edited to fit your site. </p>
			</div>
		</div>
	</div>
	
	<!-- about packery -->
	<div class="flexcontainer" style="padding-top: 40px;">
		<div class="col-12">
			<div class="padded">
				<h2>Making more complex grid layouts using packery</h2>
			</div>
		</div>
	</div>
	<div class="flexcontainer">
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_columns.png">
				<h3>Create tightly-packed columns of content with an outer "packery" container and inner "padded" items.</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_cards.png">
				<h3>Create cards by using an outer "packery" container and an inner combination of "card" and "padded" items.</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_tiles.png">
				<h3>Create tiles by using an outer "tiled" container and inner "squared" items.</h3>
			</div>
		</div>
	</div>
	
	<!-- about other modules -->
	<div class="flexcontainer" style="padding-top: 40px;">
		<div class="col-12">
			<div class="padded">
				<h2>Other Artificial modules</h2>
			</div>
		</div>
	</div>
	<div class="flexcontainer">
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_carousel.png">
				<h3>Create a carousel of images with overlaid text.</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_parallax.png">
				<h3>Use basic parallax scrolling effects.</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_search.png">
				<h3>Add a search to any page, or use a universal search initiated on keypress.</h3>
			</div>
		</div>
		<div class="col-4">
			<div class="padded">
				<img src="images/sample/img_filter.png">
				<h3>Filters use standard OS selection controls and limiting the number of items shown.</h3>
			</div>
		</div>
		<div class="col-4 right-4">
			<div class="padded">
				<img src="images/sample/img_login.png">
				<h3>Create login screens and forms.</h3>
			</div>
		</div>
	</div>
	
	
	<!-- end reference -->
	
</section>
