---
layout: multiple_layout
---
<body id="home">
	<!-- intro -->
	<div class="flexcontainer">
		<div class="col-10">
			<div class="padded center question">
				<h2>What is the most important factor for your visualization to show?</h2>
				<p>A key principle to data visualization is that the visuals should always heed the data;<br>
				data should never be unnaturally fitted into a visualization.</p>
			</div>
			<div class="tagcontainer center">
				<a class="tag" href="#hierarchy">Hierarchy</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Hierarchy</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="hierarchy.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#range">Range</a>
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Range</h2>
							<p>Is it correct that you have data where the distance distance between the two limits of each set is meaningful?</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/temp_time.png"><br>
									<p>Time spans</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/temp_health.png"><br>
									<p>Blood pressure</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/temp_price.png"><br>
									<p>Price ranges</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="range.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#cycles">Cycles</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Cycles</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Cycles.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#flow">Flow</a>
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Flow</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Flow.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup --> 
				<a class="tag" href="#continuousintervals">Continuous intervals</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Continuous intervals</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Continuousintervals.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#aggregations">Aggregations</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Aggregations</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Aggregations.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#deviationfromnormal">Deviation from normal</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Deviation from normal</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="deviationfromnormal.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#proportions">Proportions</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Proportions</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Proportions.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#pattern">Pattern</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Pattern</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Pattern.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#location">Location</a> 
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Location</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Location.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
				<a class="tag" href="#changeovertime">Change over time</a>
					<div class="cd-popup">
						<div class="cd-popup-container">
							<h2>Change over time</h2>
							<p>Coming soon</p><br>
							<p><strong>Commonly used for</strong></p><br>
							<div class="flexcontainer col-9">
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Label</p>
								</div>
								<div class="col-3">
									<img class="iconlrg" src="images/xx.png"><br>
									<p>Labels</p>
								</div>
							</div>
							<a class="btn" href="">No, let me select again</a>
							<a class="btn" href="Changeovertime.html">Yes, continue</a>
						</div> <!-- cd-popup-container -->
					</div> <!-- cd-popup -->
			</div>
		</div>
	</div>

<script type="text/javascript">
	jQuery(document).ready(function($){
	//open popup
	$('.tag').on('click', function(event){
		event.preventDefault();
		$('.cd-popup').addClass('is-visible');
	});
	
	//close popup
	$('.cd-popup').on('click', function(event){
		if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
			event.preventDefault();
			$(this).removeClass('is-visible');
		}
	});
	//close popup when clicking the esc keyboard button
	$(document).keyup(function(event){
    	if(event.which=='27'){
    		$('.cd-popup').removeClass('is-visible');
	    }
    });
});
</script>
</body>
