---
layout: nomenu_layout
---
<section id="home">
	<div class="flex container">
		<div class="col-10">
			<div class="question padded center">
				<h2>What is the most important factor for your visualization to show?</h2>
				<p>A key principle to data visualization is that the visuals should always heed the data;
				data should never be unnaturally fitted into a visualization.</p>
			</div>
			<ul class="tagcontainer center">
				<li>
					<a class="tag" id="proportions-tag">Proportions</a> 
					<div class="cd-popup" id="proportions">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Proportions</h2>
								<p>Is it true that your data has a whole value and the division of that is the most meaningful? In some cases, the whole value may be the span of data shown.</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-6">
									<div class="col-3">
										<img class="iconlrg" src="images/temp_time.png">
										<p>Distribution of time</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_price.png">
										<p>Finanaces</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="result-proportions.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="aggregations-tag">Aggregations</a> 
					<div class="cd-popup" id="aggregations">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Aggregations</h2>
								<p>Is it true that your data needs to show different types of data clustered into one measurement? As the primary function, the distinction between data types should be apparent without the need to rely on labels.</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-6">
									<div class="col-3">
										<img class="iconlrg" src="images/temp_price.png">
										<p>Finances</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_location.png">
										<p>Location-based data</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="result-aggregations.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="range-tag">Range</a>
					<div class="cd-popup" id="range">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Range</h2>
								<p>Is it correct that you have data where the distance distance between the two limits of each set is meaningful?</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/temp_time.png">
										<p>Time spans</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_health.png">
										<p>Blood pressure</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_price.png">
										<p>Price ranges</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="result-range.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="cycles-tag">Cycles</a> 
					<div class="cd-popup" id="cycles">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Cycles</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="cycles.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="hierarchy-tag">Hierarchy</a> 
					<div class="cd-popup" id="hierarchy">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Hierarchy</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="hierarchy.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="continuousintervals-tag">Continuous intervals</a> 
					<div class="cd-popup" id="continuousintervals">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Continuous intervals</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="continuousintervals.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="flow-tag">Flow</a>
					<div class="cd-popup" id="flow">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Flow</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="flow.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup --> 
				</li>
				<li>
					<a class="tag" id="deviationfromnormal-tag">Deviation from normal</a> 
					<div class="cd-popup" id="deviationfromnormal">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Deviation from normal</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="deviationfromnormal.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->	
				</li>
				<li>			
					<a class="tag" id="location-tag">Location</a> 
					<div class="cd-popup" id="location">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Location</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="location.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li> 
					<a class="tag" id="pattern-tag">Pattern</a> 
					<div class="cd-popup" id="pattern">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Pattern</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="pattern.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
				<li>
					<a class="tag" id="changeovertime-tag">Change over time</a>
					<div class="cd-popup" id="changeovertime">
						<div class="flex container">
							<div class="cd-popup-container col-10">
								<h2>Change over time</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn cd-popup-close">No, select another</a>
								<a class="btn" href="changeovertime.html">Yes, continue</a>
							</div> <!-- cd-popup-container -->
						</div> <!-- flex container -->
					</div> <!-- cd-popup -->
				</li>
			</ul>
		</div>
	</div>

	<script type="text/javascript">
		jQuery(document).ready(function($){
		//open popup
		$('#proportions-tag').on('click', function(event){
			event.preventDefault();
			$('#proportions').addClass('is-visible');
		});
		$('#aggregations-tag').on('click', function(event){
			event.preventDefault();
			$('#aggregations').addClass('is-visible');
		});
		$('#range-tag').on('click', function(event){
			event.preventDefault();
			$('#range').addClass('is-visible');
		});
		$('#cycles-tag').on('click', function(event){
			event.preventDefault();
			$('#cycles').addClass('is-visible');
		});
		$('#hierarchy-tag').on('click', function(event){
			event.preventDefault();
			$('#hierarchy').addClass('is-visible');
		});
		$('#continuousintervals-tag').on('click', function(event){
			event.preventDefault();
			$('#continuousintervals').addClass('is-visible');
		});
		$('#flow-tag').on('click', function(event){
			event.preventDefault();
			$('#flow').addClass('is-visible');
		});
		$('#deviationfromnormal-tag').on('click', function(event){
			event.preventDefault();
			$('#deviationfromnormal').addClass('is-visible');
		});
		$('#location-tag').on('click', function(event){
			event.preventDefault();
			$('#location').addClass('is-visible');
		});
		$('#pattern-tag').on('click', function(event){
			event.preventDefault();
			$('#pattern').addClass('is-visible');
		});
		$('#changeovertime-tag').on('click', function(event){
			event.preventDefault();
			$('#changeovertime').addClass('is-visible');
		});

		//close popup
		$('.cd-popup').on('click', function(event){
			if( $(event.target).is('.cd-popup-close') || $(event.target).is('.cd-popup') ) {
				event.preventDefault();
				$('.cd-popup').removeClass('is-visible');
			}
		});
		//close popup when clicking the esc keyboard button
		$(document).keyup(function(event){
	    	if(event.which=='27'){
	    		$('.cd-popup').removeClass('is-visible');
		    }
	    });
	});
	</script>
</section>
