---
layout: nomenu_layout
---

<script src="javascripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="javascripts/portBox.slimscroll.min.js"></script>

<div id="bgpurple"></div>
<section id="home">
	<div class="flex container">
		<div class="col-10">
			<div class="question padded center">
				<h2>What is the most important factor for your visualization to show?</h2>
				<p>A key principle to data visualization is that the visuals should always heed the data;
				data should never be unnaturally fitted into a visualization.</p>

			</div>
			<ul class="tagcontainer center">
			
				<li>
					<a class="tag" href="#" data-display="proportions">Proportions</a> 
					<div id="proportions" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Proportions</h2>
								<p>Is it true that your data has a whole value and the division of that is the most meaningful? In some cases, the whole value may be the span of data shown.</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-6">
									<div class="col-3">
										<img class="iconlrg" src="images/temp_time.png">
										<p>Distribution of time</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_price.png">
										<p>Finanaces</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-proportions.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="aggregations">Aggregations</a> 
					<div id="aggregations" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Aggregations</h2>
								<p>Is it true that your data needs to show different types of data clustered into one measurement? As the primary function, the distinction between data types should be apparent without the need to rely on labels.</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-6">
									<div class="col-3">
										<img class="iconlrg" src="images/temp_price.png">
										<p>Finances</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_location.png">
										<p>Location-based data</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-aggregations.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="range">Range</a> 
					<div id="range" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Range</h2>
								<p>Is it correct that you have data where the distance distance between the two limits of each set is meaningful?</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/temp_time.png">
										<p>Time spans</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_health.png">
										<p>Blood pressure</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/temp_price.png">
										<p>Price ranges</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-range.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="cycles">Cycles</a> 
					<div id="cycles" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Cycles</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-cycles.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="hierarchy">Hierarchy</a> 
					<div id="hierarchy" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Hierarchy</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-hierarchy.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="continuousintervals">Continuous intervals</a> 
					<div id="continuousintervals" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Continuous intervals</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-continuousintervals.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="flow">Flow</a> 
					<div id="flow" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Flow</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-flow.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="deviationfromnormal">Deviation from normal</a> 
					<div id="deviationfromnormal" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Deviation from normal</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-deviationfromnormal.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>			
					<a class="tag" href="#" data-display="location">Location</a> 
					<div id="location" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Location</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-location.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li> 
					<a class="tag" href="#" data-display="pattern">Pattern</a> 
					<div id="pattern" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Pattern</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-pattern.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
				<li>
					<a class="tag" href="#" data-display="changeovertime">Change over time</a> 
					<div id="changeovertime" class="portBox">
						<div class="col-10">
							<div class="categorydetails">
								<h2>Change over time</h2>
								<p>Coming soon</p>
								<p><strong>Commonly used for</strong></p>
								<div class="flex container col-9">
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Label</p>
									</div>
									<div class="col-3">
										<img class="iconlrg" src="images/xx.png">
										<p>Labels</p>
									</div>
								</div>
								<a class="btn half close-portBox">Select another</a>
								<a class="btn half" href="result-changeovertime.html">Continue</a>
							</div>
						</div> <!-- col-10 close -->
					</div> <!-- portBox close -->
				</li>
			</ul>
		</div>
	</div>
</section>
