---
layout: multiple_layout
---
<body id="home">
<!-- page content -->
<section>
		
	<!-- intro -->
		<div class="flexcontainer">
			<div class="col-10">
				<div class="padded center">
					<h2 class="question">What is the most important factor for your visualization to show? </h2>
					<div class="tagcontainer">
						<a class="tag" href="changeovertime.html">
							Change over time
						</a>
						<a class="tag" href="">
							Pattern
						</a>
						<a class="tag" href="">
							Compare to baseline
						</a>
						<a class="tag" href="">
							Multiple data sets
						</a>
						<a class="tag" href="">
							Cycles
						</a>
						<a class="tag" href="">
							Continuous intervals
						</a>
						<a class="tag" href="">
							Aggregations
						</a>
						<a class="tag" href="">
							Hierarchy
						</a>
						<a class="tag" href="">
							Range
						</a>
						<a class="tag" href="">
							Flow
						</a>
						<a class="tag" href="">
							Location
						</a>
						<a class="tag" href="">
							Proportions
						</a>
					</div>
				</div>
			</div>
		</div>	
</section>
</body>