---
layout: multiple_layout
---
<body id="home">
<!-- page content -->
<section>
		
	<!-- intro -->
		<div class="flexcontainer">
			<div class="col-10">
				<div class="padded center question">
					<h2>What is the most important factor for your visualization to show? </h2>
					<p>A key principle to data visualization is that the visuals should always heed the data;<br>data should never be unnaturally fitted into a visualization.</p>
					<div class="tagcontainer">
						<a class="tag" href="">
							Hierarchy
						</a>
						<a class="tag" href="range.html">
							Range
						</a>
						<a class="tag" href="">
							Cycles
						</a>
						<a class="tag" href="">
							Flow
						</a>
						<a class="tag" href="">
							Continuous intervals
						</a>
						<a class="tag" href="">
							Aggregations
						</a>
						<a class="tag" href="">
							Deviation from normal
						</a>
						<a class="tag" href="">
							Proportions
						</a>
						<a class="tag" href="">
							Pattern
						</a>
						<a class="tag" href="">
							Location
						</a>
						<a class="tag" href="">
							Change over time
						</a>
					</div>
				</div>
			</div>
		</div>	
</section>
</body>