---
layout: nomenu_layout
---

<section id="content">
	<div class="flex container">
		<div class="col-6">
			<div class="padded">
				<h2>Pie chart</h2>
				<ul class="tagcontainer">
					<li>
						<a class="tag selected" href="proportions.html">Proportions</a> 
					</li>
					<li>
						<a class="tag" href="">Aggregated</a>
					</li>
				</ul>

				<h6 class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6>
				<h6>Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6>
			</div>
		</div>

		<div class="col-4 left-2">
			<img class="viztop" src="/images/viz_composition.png">
		</div>

		<div class="col-6 right-6 mobilebtn">
			<a class="btn">Use this visualization</a>
		</div>

		<div class="col-12 tagcontainer">
			<div class="padded">
				<h4>Alternative visualizations</h4>
			</div>

			<div class="packery">
				<div class="col-4 packed">
					<a href="waterfallchart.html">
						<div class="card">
							<img src="images/viz_composition_1.png">
							<div class="padded">
								<h3>Square pie chart</h3>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4 packed">
					<a href="range.html">
						<div class="card">
							<img src="images/viz_composition_2.png">
							<div class="padded">
								<h3>Pyramid</h3>
							</div>
						</div>
					</a>
				</div>
				<div class="col-4 packed">
					<a href="range.html">
						<div class="card">
							<img src="images/viz_range_4.png">
							<div class="padded">
								<h3>Donut chart</h3>
							</div>
						</div>
					</a>
				</div>
			</div><!--  END PACKERY -->
		</div><!--  END 8 COL -->
	</div><!--  END FLEX CONTAINER -->
</section>