---
layout: multiple_layout
---

<section id="content">
		<!-- content -->
		<div class="flexcontainer">
			<div class="col-8">
				<div class="packery tagcontainer">
					<div class="col-4 packed">
						<a href="waterfallchart.html">
						<div class="card">
							<img src="images/temp_1.png">
							<div class="text">
								<div class="padded">
									<h3>Waterfall chart</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_2.png">
							<div class="text">
								<div class="padded">
									<h3>Waterfall chart with multiple data sets</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_3.png">
							<div class="text">
								<div class="padded">
									<h3>Gantt chart</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_4.png">
							<div class="text">
								<div class="padded">
									<h3>Gantt chart with multiple data sets</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_5.png">
							<div class="text">
								<div class="padded">
									<h3>Span chart</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_6.png">
							<div class="text">
								<div class="padded">
									<h3>Span chart with multiple data sets</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_7.png">
							<div class="text">
								<div class="padded">
									<h3>Donut chart</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_8.png">
							<div class="text">
								<div class="padded">
									<h3>Donut chart with multiple data sets</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_9.png">
							<div class="text">
								<div class="padded">
									<h3>Candlestick chart</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_10.png">
							<div class="text">
								<div class="padded">
									<h3>Candlestick chart with multiple data sets</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
					<div class="col-4 packed">
						<a href="range.html">
						<div class="card">
							<img src="images/temp_11.png">
							<div class="text">
								<div class="padded">
									<h3>Area range chart</h3>
									<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
								</div>
							</div>
						</div></a>
					</div>
				</div><!--  END PACKERY -->
			</div><!--  END 8 COL -->
			<!-- RIGHT COLUMN -->
			<div class="col-4">
				<div class="padded">
					<h4>My primary function</h4>
					<div class="tagcontainer">
						<h2>Range <a href="index.html"><img class="icon" src="images/temp_close.png"></a></h2>
						<div>
							<div class="tagcontainer">
								<div class="checkbox"></div>Multiple categories<br>
								<br>
								<div class="checkbox"></div>Compare to average
							</div>
							<h4>Other functions</h4>
							<div class="tagcontainer">
								<a class="tagsm" href="">Hierarchy</a> <a class="tagsm" href="">Cycles</a> <a class="tagsm" href="">Flow</a> <a class="tagsm" href="">Continuous intervals</a> <a class="tagsm" href="">Aggregations</a> <a class="tagsm" href="">Deviation from normal</a> <a class="tagsm" href="">Proportions</a> <a class="tagsm" href="">Pattern</a> <a class="tagsm" href="">Location</a> <a class="tagsm" href="">Change over time</a>
							</div>
							<h4>Chart type</h4>
							<div class="tagcontainer">
								<a class="tagsm" href="changeovertime.html">Bar charts</a> <a class="tagsm" href="">Histograms</a> <a class="tagsm" href="">Range charts</a> <a class="tagsm" href="">Line charts</a> <a class="tagsm" href="">Area charts</a> <a class="tagsm" href="">Scatter plots</a> <a class="tagsm" href="">Radial charts</a> <a class="tagsm" href="">Composition</a> <a class="tagsm" href="">Calendars</a> <a class="tagsm" href="">Geographical maps</a> <a class="tagsm" href="">Networks</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>