---
layout: menu_layout
---

<section id="content">
	<div class="container mobiletitle">
		<div class="padded">
			<div class="col-12">
				<h4>Showing 12 results for</h4>
				<h2>Range <a href="index.html"><img class="icon" src="images/temp_close.png"></a>
				</h2>
			</div>
		</div>
	</div>
	<div class="flex container">
		<div class="col-8 packery tagcontainer">
				<div class="col-4 packed">
					<a href="chart-waterfallchart.html">
					<div class="card">
						<img src="images/viz_histogram_10.png">
						<div class="padded">
							<h3>Waterfall chart</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_histogram_11.png">
						<div class="padded">
							<h3>Waterfall chart with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range.png">
						<div class="padded">
							<h3>Gantt chart</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_1.png">
						<div class="padded">
							<h3>Gantt chart with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_2.png">
						<div class="padded">
							<h3>Span chart</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_3.png">
						<div class="padded">
							<h3>Span chart with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_4.png">
						<div class="padded">
							<h3>Donut chart</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_5.png">
						<div class="padded">
							<h3>Donut chart with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_6.png">
						<div class="padded">
							<h3>Candlestick chart</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_7.png">
						<div class="padded">
							<h3>Candlestick chart with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_range_8.png">
						<div class="padded">
							<h3>Area range chart</h3>
						</div>
					</div>
				</a>
			</div>
			<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_network_1.png">
						<div class="padded">
							<h3>Connected timeline with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>	
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar.png">
						<div class="padded">
							<h3>Monthly calendar</h3>
						</div>
					</div>
				</a>
			</div>	
			<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_1.png">
						<div class="padded">
							<h3>Connected timeline with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>	
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_2.png">
						<div class="padded">
							<h3>Weekly calendar</h3>
						</div>
					</div>
				</a>
			</div>	
			<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_3.png">
						<div class="padded">
							<h3>Weekly calendar with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>	
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_4.png">
						<div class="padded">
							<h3>Daily calendar</h3>
						</div>
					</div>
				</a>
			</div>	
			<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_5.png">
						<div class="padded">
							<h3>Daily calendar with multiple data sets</h3>
						</div>
					</div>
				</a>
			</div>	
				<div class="col-4 packed">
					<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_11.png">
						<div class="padded">
							<h3>Calndar with donut charts per day</h3>
						</div>
					</div>
				</a>
			</div>	
			<div class="col-4 packed">
				<a href="result-range.html">
					<div class="card">
						<img src="images/viz_calendar_12.png">
						<div class="padded">
							<h3>Calendar with donut charts with multiple data sets per day</h3>
						</div>
					</div>
				</a>
			</div>	
		</div><!--  END 8 COL -->

		<div class="sidenav col-4">
			<div class="padded">
				<h4>My primary function</h4>
				<h2>Range <a href="index.html"><img class="icon" src="images/temp_close.png"></a>
				</h2>
				<div class="tagcontainer">
					<ul class="flags">
						<li>
							<input type="checkbox" id="checkbox-1-1" class="checkbox"><label for="checkbox-1-1"></label> Multiple data sets
						</li>
						<li>
							<input type="checkbox" id="checkbox-1-2" class="checkbox"><label for="checkbox-1-2"></label> Compare to average
						</li>
					</ul>
				</div>
				<div class="tagcontainer">
				<h4>Other functions</h4>
					<ul>
						<li>
							<a class="tag" href="">Proportions</a>
						</li>
						<li>
							<a class="tag" href="">Aggregations</a> 
						</li>
						<li>
							<a class="tag selected" href="">Range</a>
						</li>
						<li>
							<a class="tag" href="">Cycles</a> 
						</li>
						<li>
							<a class="tag" href="">Hierarchy</a> 
						</li>
						<li>
							<a class="tag" href="">Continuous intervals</a> 
						</li>
						<li>
							<a class="tag" href="">Flow</a> 
						</li>
						<li>
							<a class="tag disabled">Deviation from normal</a> 
						</li>
						<li>
							<a class="tag disabled">Location</a> 
						</li>
						<li>
							<a class="tag" href="">Pattern</a> 
						</li>
						<li>
							<a class="tag" href="">Change over time</a>
						</li>
					</ul>
				</div>
				
				<div class="tagcontainer">
				<h4>Chart type</h4>
					<ul>
						<li>
							<a class="tag" href="changeovertime.html">Bar charts</a> 
						</li>
						<li>
							<a class="tag" href="">Histograms</a> 
						</li>
						<li>
							<a class="tag" href="">Range charts</a> 
						</li>
						<li>
							<a class="tag disabled">Line charts</a> 
						</li>
						<li>
							<a class="tag" href="">Area charts</a> 
						</li>
						<li>
							<a class="tag disabled">Scatter plots</a> 
						</li>
						<li>
							<a class="tag disabled">Radial charts</a> 
						</li>
						<li>
							<a class="tag disabled">Composition</a> 
						</li>
						<li>
							<a class="tag" href="">Calendars</a> 
						</li>
						<li>
							<a class="tag disabled">Geographical maps</a> 
						</li>
						<li>
							<a class="tag" href="">Networks</a>
						</li>
					</ul>
				</div>
			</div>
		</div>		
	</div>
</section>