---
layout: nomenu_layout
---

<section id="content">
		<!-- content -->
		<div class="flex container">
			<div class="col-6">
				<div class="padded">
					<h2>Waterfall chart</h2>
					<a class="tag selected" href="range.html">Range</a> 
					<a class="tag" href="">Pattern</a> 
					<a class="tag" href="">Continuous intervals</a> 
					<a class="tag" href="">Change over time</a>
					<h6 class="description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi. Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6><br>
					<h6>Vel illum dolore eu feugiat nulla facilisis at vero eros etio dignissim qui praesent luptatm delenit aufacilisi.</h6>
					<a class="btn center">Use this visualization</a>
				</div>
			</div>
			<div class="col-4 left-2"><img class="viztop" src="/images/viz_histogram_10.png"></div>
			<div class="col-12">
				<div class="padded">
					<h4>Alternative visualizations</h4>
				</div>
				<div class="packery">
				<div class="col-4 packed">
					<a href="waterfallchart.html">
					<div class="card">
						<img src="images/viz_histogram_10.png">
						<div class="padded">
							<h3>Waterfall chart with multiple data sets</h3>
						</div>
					</div>
					</a>
				</div>
				<div class="col-4 packed">
					<a href="range.html">
					<div class="card">
						<img src="images/viz_histogram_11.png">
						<div class="padded">
							<h3>Gantt chart</h3>
						</div>
					</div>
					</a>
				</div>
				<div class="col-4 packed">
					<a href="range.html">
					<div class="card">
						<img src="images/viz_range.png">
						<div class="padded">
							<h3>Gantt chart with multiple data sets</h3>
						</div>
					</div>
					</a>
				</div>
				</div><!--  END PACKERY -->
			</div><!--  END 8 COL -->
			<!-- RIGHT COLUMN -->
			<div class="col-4">
				<div class="padded"></div>
			</div>
		</div>
	</section>


